:root {
  --dark-background: #1b1e1f;
  --dark-text: #d6d3cd;
  --dark-container-one: #202324;
  --dark-container-two: #181a1b;
  --dark-buttons: #1e2021;
  --dark-border: #736b5e;
}
.skillButton {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  margin: 0.3rem;
  border: 1px solid var(--dark-border);
  border-radius: 20px;
  background-color: var(--dark-buttons);
  color:var(--dark-text);
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
  min-width: 15px;
  text-align: center;
}

/* Hover effect */
.skillButton:hover {
  background-color: #504f4f;
}

/* Selected state */
.selectedSkill{
  background-color: #1976d2;
  color: white;
  border-color: #1976d2;
}

/* Optional focus style (keyboard navigation) */
.skillButton:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(25, 118, 210, 0.4);
}