/* Reset some defaults */

:root {
  --dark-background: #1b1e1f;
  --dark-text: #d6d3cd;
  --dark-container-one: #202324;
  --dark-container-two: #181a1b;
  --dark-buttons: #1e2021;
  --dark-border: #736b5e;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--dark-background);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
  /* Prevents text selection */
}

/* Root wraps everything */
#root {
  display: flex;
  gap: 2rem;
  width: 90%;
  height: 90vh;
  /* make it stretch nicely */
  max-width: 1200px;
  /* keep it from being too wide */
  min-height: 600px;
  /* give it room even when empty */
  padding: 2rem;
  box-sizing: border-box;
}

.container {
  flex: 1;
  /* each takes equal space */
  /* background: #edececb3; */
  border: 2px solid var(--dark-border);

  border-radius: 8px;
  padding: 1.5rem;
  box-sizing: border-box;
  min-height: 300px;
  /* not cramped */
}


.textBox {
  color: var(--dark-text);
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center;     /* center vertically */
  height: 50vh;            
}
